<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://cloudscribeng.github.io/pages/libraries/cloudscribeng-web-navigation/menu-localization/">
        <link rel="shortcut icon" href="../../../../img/favicon.ico">
        <title>Menu Localization - CloudscribeNG Documentation</title>
        <link href="../../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../../../css/brands.min.css" rel="stylesheet">
        <link href="../../../../css/solid.min.css" rel="stylesheet">
        <link href="../../../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <link href="../../../../stylesheets/full-width.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../../../..">CloudscribeNG Documentation</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../../../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Documentation</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../../introduction/" class="dropdown-item">Introduction</a>
</li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Complete list of CloudscribeNG libraries</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../complete-list-of-cloudscribeng-libraries/" class="dropdown-item">Complete list of open source CloudscribeNG libraries</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">CloudscribeNG.Core</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/" class="dropdown-item">CloudscribeNG.Core</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Multi Tenant Support</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/multi-tenant-support/" class="dropdown-item">Multi Tenant Support</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/multi-tenant-support/using-multitenancy-for-sibling-sites-in-multiple-languages/" class="dropdown-item">Using multitenancy for sibling sites in multiple languages</a>
</li>
    </ul>
  </li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Themes and Web Design</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/themes-and-web-design/" class="dropdown-item">Themes and Web Design</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Advanced Client Side Development with Webpack</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/themes-and-web-design/advanced-client-side-development-with-webpack/" class="dropdown-item">Advanced Client Side Development with Webpack</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/themes-and-web-design/advanced-client-side-development-with-webpack/webpack-prerequisites/" class="dropdown-item">Webpack Prerequisites</a>
</li>
    </ul>
  </li>
    </ul>
  </li>
            
<li>
    <a href="../../cloudscribeng-core/registration-page/" class="dropdown-item">Registration Page Configuration</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Custom Registration</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/custom-registration/" class="dropdown-item">Custom Registration</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/custom-registration/configuration-based-custom-registration-and-user-properties/" class="dropdown-item">Configuration based Custom Registration and User Properties</a>
</li>
    </ul>
  </li>
            
<li>
    <a href="../../cloudscribeng-core/automated-logout/" class="dropdown-item">Automated Logout </a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/changing-user-email-address/" class="dropdown-item">Changing user email address</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/custom-event-handlers/" class="dropdown-item">Custom Event Handlers</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Building Custom Features that Integrate with CloudscribeNG Core</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/building-custom-features-that-integrate-with-cloudscribeng-core/" class="dropdown-item">Building Custom Features that Integrate with CloudscribeNG Core</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/building-custom-features-that-integrate-with-cloudscribeng-core/looking-up-users-in-custom-features/" class="dropdown-item">Looking Up Users in Custom Features</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/building-custom-features-that-integrate-with-cloudscribeng-core/adding-tables-and-data-for-custom-features/" class="dropdown-item">Adding Tables and Data for Custom Features</a>
</li>
    </ul>
  </li>
            
<li>
    <a href="../../cloudscribeng-core/identityserver-integration/" class="dropdown-item">IdentityServer Integration</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/using-ldap-authentication/" class="dropdown-item">Using LDAP Authentication</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/using-social-authentication/" class="dropdown-item">Using Social Authentication and OpenId Connect</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/using-two-factor-authentication/" class="dropdown-item">Using Two Factor Authentication</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/google-analytics-integration/" class="dropdown-item">Google Analytics Integration</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/google-analytics-ga4-integration/" class="dropdown-item">Google Analytics 4 Integration</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/configuring-data-protection/" class="dropdown-item">Configuring Data Protection</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/integrating-signalr-with-cloudscribeng/" class="dropdown-item">Integrating SignalR with CloudscribeNG</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/migrating-users-with-other-password-hash-formats/" class="dropdown-item">Migrating Users with other Password Hash formats</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/google-recaptcha-integration/" class="dropdown-item">Google reCAPTCHA integration</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/query-tool/" class="dropdown-item">Query Tool</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/restarting-the-application/" class="dropdown-item">Restarting the Application</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Restricting Access to Your Website by IP Address</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-core/restricting-access-to-your-website-by-ip-address/" class="dropdown-item">Restricting Access to Your Website by IP Address</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/restricting-access-to-your-website-by-ip-address/permitting-ip-addresses/" class="dropdown-item">Permitting IP Addresses</a>
</li>
            
<li>
    <a href="../../cloudscribeng-core/restricting-access-to-your-website-by-ip-address/blocking-ip-addresses/" class="dropdown-item">Blocking IP Addresses</a>
</li>
    </ul>
  </li>
    </ul>
  </li>
            
<li>
    <a href="../../cloudscribeng-simplecontactform/" class="dropdown-item">CloudscribeNG.SimpleContactForm</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">CloudscribeNG.SimpleContent</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-simplecontent/" class="dropdown-item">CloudscribeNG.SimpleContent</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/using-open-live-writer/" class="dropdown-item">Using Open Live Writer</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/integrating-with-other-authentication-systems/" class="dropdown-item">Integrating with Other Authentication Systems</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/adding-javascript-and-css-to-pages/" class="dropdown-item">Adding JavaScript and CSS to Pages</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/adding-links-to-the-menu/" class="dropdown-item">Adding links to the Menu</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/customizing-the-editor/" class="dropdown-item">Customizing the Editor</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/2-ways-that-images-are-uploaded-in-simplecontent/" class="dropdown-item">2 ways that images are uploaded in SimpleContent</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/migrating-content-from-other-platforms/" class="dropdown-item">Migrating content from other platforms</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/custom-blog-routing/" class="dropdown-item">Custom Blog Routing</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/custom-page-routing/" class="dropdown-item">Custom Page Routing</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/3-ways-to-add-the-blog-to-the-menu/" class="dropdown-item">3 Ways to Add the Blog To The Menu</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/protecting-pages-with-roles/" class="dropdown-item">Protecting Pages With Roles</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/using-markdown/" class="dropdown-item">Using Markdown</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/how-to-protect-access-to-view-the-blog/" class="dropdown-item">How to protect access to view the blog</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/content-templates/" class="dropdown-item">Content Templates</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/manage-content-in-multiple-languages/" class="dropdown-item">Manage content in multiple languages</a>
</li>
            
<li>
    <a href="../../cloudscribeng-simplecontent/content-cloning/" class="dropdown-item">Content Cloning</a>
</li>
    </ul>
  </li>
            
<li>
    <a href="../../cloudscribeng-dynamic-authorization-policies/" class="dropdown-item">Dynamic Authorization Policies</a>
</li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">CloudscribeNG.Web.Common</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../cloudscribeng-web-common/" class="dropdown-item">CloudscribeNG.Web.Common</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/using-the-summernote-editor/" class="dropdown-item">Using the Summernote editor</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/using-ckeditor/" class="dropdown-item">Using CKeditor</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/using-the-bootstrap-datepicker/" class="dropdown-item">Using the Bootstrap DatePicker</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/easy-bootstrap-modal/" class="dropdown-item">Easy Bootstrap Modal</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/easy-cascading-dropdowns/" class="dropdown-item">Easy Cascading Dropdowns</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/easy-autosuggest/" class="dropdown-item">Easy AutoSuggest</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/using-strongly-typed-models-and-razor-views-to-generate-email-messages/" class="dropdown-item">Using Strongly Typed Models and Razor Views to generate email messages</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/easy-alerts-with-controller-extensions/" class="dropdown-item">Easy Alerts with Controller  Extensions</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/easy-google-analytics/" class="dropdown-item">Easy Google Analytics</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/easy-google-analytics-ga4/" class="dropdown-item">Easy Google Analytics (GA4)</a>
</li>
            
<li>
    <a href="../../cloudscribeng-web-common/managing-cookie-consent/" class="dropdown-item">Managing Cookie Consent</a>
</li>
    </ul>
  </li>
            
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">CloudscribeNG.Web.Navigation</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../" class="dropdown-item">CloudscribeNG.Web.Navigation</a>
</li>
            
<li>
    <a href="../configuring-menu-items/" class="dropdown-item">Configuring Menu Items</a>
</li>
            
<li>
    <a href="../adjusting-menu-items-per-request/" class="dropdown-item">Adjusting Menu Items Per Request</a>
</li>
            
<li>
    <a href="../adding-extra-breadcrumbs/" class="dropdown-item">Adding Extra Breadcrumbs</a>
</li>
            
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Menu Localization</a>
</li>
            
<li>
    <a href="../different-menu-items-per-tenant/" class="dropdown-item">Different Menu Items Per Tenant</a>
</li>
            
<li>
    <a href="../easy-google-sitemaps/" class="dropdown-item">Easy Google SiteMaps</a>
</li>
            
<li>
    <a href="../using-json-instead-of-xml/" class="dropdown-item">Using Json Instead of XML</a>
</li>
            
<li>
    <a href="../additional-community-tutorials-on-our-github-wiki/" class="dropdown-item">Additional Community Tutorials on Our GitHub Wiki</a>
</li>
    </ul>
  </li>
            
<li>
    <a href="../../cloudscribeng-web-pagination/" class="dropdown-item">CloudscribeNG.Web.Pagination</a>
</li>
            
<li>
    <a href="../../cloudscribeng-syndication/" class="dropdown-item">CloudscribeNG.Syndication</a>
</li>
            
<li>
    <a href="../../cloudscribeng-pwakit/" class="dropdown-item">CloudscribeNG PwaKit - Easily Build Progressive Web Apps</a>
</li>
            
<li>
    <a href="../../cloudscribeng-localization/" class="dropdown-item">CloudscribeNG Localization</a>
</li>
            
<li>
    <a href="../../easy-timezone-handling/" class="dropdown-item">Easy TimeZone Handling</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Commercial Products</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../../commercial-products/index.md" class="dropdown-item">None</a>
</li>
            
<li>
    <a href="../../../commercial-products/complete-list-of-cloudscribeng-commercial-product-libraries/" class="dropdown-item">CloudscribeNG Commercial Product Libraries</a>
</li>
            
<li>
    <a href="../../../commercial-products/commercial-product-license/" class="dropdown-item">Commercial Product License</a>
</li>
            
<li>
    <a href="../../../commercial-products/using-the-cloudscribeng-newsletter/" class="dropdown-item">Using the CloudscribeNG Newsletter</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../adding-extra-breadcrumbs/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../different-menu-items-per-tenant/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/CloudscribeNG/edit/master/docs/pages/libraries/cloudscribeng-web-navigation/menu-localization.md" class="nav-link">Edit on CloudscribeNG
                                    </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#menu-localization" class="nav-link">Menu Localization</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#first-steps-add-localization-to-the-application" class="nav-link">First Steps Add Localization to the Application</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#creating-the-localization-resources" class="nav-link">Creating the Localization Resources</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#localize-the-views-by-injecting-the-istringlocalizer" class="nav-link">Localize the Views by injecting the IStringLocalizer</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="menu-localization">Menu Localization<a class="headerlink" href="#menu-localization" title="Permanent link">&para;</a></h1>
<p>Localization should happen in your own application, there is nothing included in CloudscribeNG.Web.Navigation to localize menus, and nothing is needed there to achieve it. After all, your menu is custom to your needs. I have added localization to the <a href="https://github.com/joeaudette/CloudscribeNG.Web.Navigation/tree/master/src/NavigationDemo.Web">NavigationDemo.Web</a> project in our github repository to show you how it is done. The demo even has a language selector dropdown, and I have translated the English menu items into 7 different languages using google translate.</p>
<p>The way to implement localization in ASP.NET Core in general is using IStringLocalizer of T, as seen in the <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization">localization documentation for ASP.NET Core</a>.</p>
<p>The place where localization of the menu should happen is in the views where you have control over it. We provide embedded views in CloudscribeNG.Web.Navigation, but you can copy any of the views you are actually using to the local files of your application.  Views/Shared/Components/Navigation is the main folder where component views go. Those views sometimes invoke child partial views which may live higher up in Views/Shared.</p>
<p>I would suggest only copy the views locally if you are actually using them and need to customize them. You can see that I copied some of them into the <a href="https://github.com/joeaudette/CloudscribeNG.Web.Navigation/tree/master/src/NavigationDemo.Web/Views/Shared">NavigationDemo.Web Views</a>. To localize a view, you do need to copy it locally so you can modify it.</p>
<p>UPDATE 2019-03-05</p>
<p>The latest version now has localization built into the views that are in the nuget packages. If you use <a href="/localization">CloudscribeNG.Web.Localization</a> then you only need to create the MenuResources-langcode.resx files and add your menu keys. However, if you don't use CloudscribeNG.Web.Navigation then you still have to localize it in local views and using your own empty class for the IStringLocalizer.</p>
<h2 id="first-steps-add-localization-to-the-application">First Steps Add Localization to the Application<a class="headerlink" href="#first-steps-add-localization-to-the-application" title="Permanent link">&para;</a></h2>
<p>There are 2 main packages you should add to dependencies in your .csproj file</p>
<pre class="highlight"><code class="language-xml">&lt;PackageReference Include="Microsoft.Extensions.Localization" Version="1.1.*" /&gt;
&lt;PackageReference Include="Microsoft.AspNetCore.Mvc.Localization" Version="1.1.*" /&gt;</code></pre>
<p>Then in Startup.cs in the ConfigureServices method, you need to configure a few things including the list of languages/cultures that you want to support and which is the default culture:</p>
<pre class="highlight"><code class="language-cs">services.AddLocalization(options =&gt; options.ResourcesPath = "Resources");

services.AddMvc()
.AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix)
.AddDataAnnotationsLocalization()
.AddRazorOptions(options =&gt;
{
    options.AddEmbeddedViewsForNavigation();
});

services.Configure&lt;RequestLocalizationOptions&gt;(options =&gt;
{
    var supportedCultures = new[]
    {
         new CultureInfo("en-US"),
         new CultureInfo("es-ES"),
         new CultureInfo("fr-FR"),
         new CultureInfo("de-DE"),
         new CultureInfo("hi-IN"), 
         new CultureInfo("ru-RU"),
         new CultureInfo("zh-Hans"), 
         new CultureInfo("zh-Hant"), 
    };

    options.DefaultRequestCulture = new RequestCulture(culture: "en-US", uiCulture: "en-US");
    options.SupportedCultures = supportedCultures;
    options.SupportedUICultures = supportedCultures;

});</code></pre>
<p>Then in the Configure method you need to wire up the localization middleware like this:</p>
<pre class="highlight"><code class="language-cs">var locOptions = app.ApplicationServices.GetService&lt;IOptions&lt;RequestLocalizationOptions&gt;&gt;();
app.UseRequestLocalization(locOptions.Value);</code></pre>
<h2 id="creating-the-localization-resources">Creating the Localization Resources<a class="headerlink" href="#creating-the-localization-resources" title="Permanent link">&para;</a></h2>
<p>Note that "Resources" is what we configured for the folder name in the ConfigureServices code above, it doesn't have to be named that.</p>
<p>Next you create the actual Resources folder in your web application and that is where you will put resx files. The resx files will be named according to the T in the IStringLocalizer of T. T stands for Type and in order to get and IStringLocalizer we need to create a class that will serve as the T and it is what our regx files will be named from. It can be an empty public class, in the demo I created an empty class named <a href="https://github.com/joeaudette/CloudscribeNG.Web.Navigation/blob/master/src/NavigationDemo.Web/MenuResources.cs">MenuResources</a>, in the root folder of the web app. </p>
<p>So now that we have the folder and the class, it is just a matter of creating the resx files. Note that in this resource model there is no default resx file and no .designer.cs file like you may have seen in other scenarios. We only create language specific files and the default language is the text we pass into the IStringLocalizer. Unlike the other resx model which has a default resx file and a .designer.cs file, the key in our translated files allows white space since we can pass any arbitrary text into IStringLocalizer.</p>
<p>You can see <a href="https://github.com/joeaudette/CloudscribeNG.Web.Navigation/tree/master/src/NavigationDemo.Web/Resources">in the demo app</a>, I have added the following resx files:</p>
<pre class="highlight"><code class="language-cs">MenuResources.de-DE.resx
MenuResources.es-ES.resx
MenuResources.fr-FR.resx
MenuResources.hi-IN.resx
MenuResources.ru-RU.resx
MenuResources.zh-Hans.resx
MenuResources.zh-Hant.resx</code></pre>
<p>When I say there is no default resx file in this model, what I mean is there is no resx file that is not language specific, ie there is no MenuResources.resx and no MenuResources.Resx,designer.cs. When you have a default resx file and the .designer.cs file, that model does not allow spaces in the keys. That is a completely different model, in the model we are using, our resx files all have a language code suffix in the file name, and the keys allow white space and correspond to any string that you need to translate. In Visual Studio, you see our resx files are set with the Access Modifier: "No code gen".</p>
<p><a href="/media/images/resource-file-no-codegen.jpg"><img alt=" " src="/media/images/resource-file-no-codegen-ws.jpg" /></a></p>
<h2 id="localize-the-views-by-injecting-the-istringlocalizer">Localize the Views by injecting the IStringLocalizer<a class="headerlink" href="#localize-the-views-by-injecting-the-istringlocalizer" title="Permanent link">&para;</a></h2>
<p>The final step is to inject our IStringLocalizer into the views and then pass any menu item text into the localizer. Here you can see the <a href="https://github.com/joeaudette/CloudscribeNG.Web.Navigation/blob/master/src/NavigationDemo.Web/Views/Shared/Components/Navigation/BootstrapBreadcrumbs.cshtml">customized bootstrapbreadcrumbs.cshtml</a> from our demo app.</p>
<pre class="highlight"><code class="language-html">@using CloudscribeNG.Web.Navigation
@using Microsoft.Extensions.Localization
@model NavigationViewModel
@inject  IStringLocalizer&lt;NavigationDemo.Web.MenuResources&gt; localizer
@if (Model.CurrentNode != null &amp;&amp; Model.ParentChain.Count &gt; 1)
{
    &lt;ul class="breadcrumb"&gt;
    @foreach (var node in Model.ParentChain)
    {
        if (!Model.ShouldAllowView(node)) { continue; }
        if (node.EqualsNode(Model.CurrentNode))
        {
            if (Model.TailCrumbs != null)
            {
                &lt;li&gt;&lt;a href="@Url.Content(Model.AdjustUrl(node))"&gt;@localizer[Model.AdjustText(node)]&lt;/a&gt;&lt;span class="divider"&gt;&lt;/span&gt;&lt;/li&gt;
            }
            else
            {
                &lt;li class="active"&gt;@localizer[Model.AdjustText(node)]&lt;/li&gt;
            }
        }
        else
        {
            &lt;li&gt;&lt;a href="@Url.Content(Model.AdjustUrl(node))"&gt;@localizer[Model.AdjustText(node)]&lt;/a&gt;&lt;span class="divider"&gt;&lt;/span&gt;&lt;/li&gt;
        }
    }
    @if (Model.TailCrumbs != null)
    {
        foreach (var n in Model.TailCrumbs)
        {
            &lt;li class="active"&gt;@localizer[n.Text]&lt;/li&gt;
        }
    }
    &lt;/ul&gt;
}</code></pre>
<p>Notice how all the places where we render the menu text, we pass that into @localizer[] and out comes either a translated string for the current culture if we have a translation, or if not, we get back the same text that is passed in. So you just add keys with whatever strings you are using into your resx files with their corresponding translations. If the resx file exists for the language but the key is missing, you get the input string as output.</p>
<p>As noted in the <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization">ASP.NET Core localization documentation</a>, the localization middleware can set the current culture of the request based on the preferred language setting of the web browser, by a cookie, or by a request parameter, or using a custom provider that you create yourself. Once the middleware has set the culture on the thread for the request, that is what determines what resx file it will use. It will try to find one for the current culture. If none is found, or if the string is not found as a key in the resx file, you just get back the untranslated string that was passed in to IStringLocalizer.</p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../../../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../../../js/base.js"></script>
        <script src="../../../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
